.footer {
  width: 100vw;
  height: 75px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: var(--red);
  text-align: center;
  color: #ffffff;
}

.copyright{
  text-decoration: none;
  color: #ffffff;
}

.copyright:hover{
  text-decoration: underline;
}